.textbox{
    display: flex;
    margin-top: 1.25vh;
    margin-bottom: 2vh;
    width: 26vw;
    border: 0.5vh solid #717171;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .textinput{
    padding: 1vh;
    width: 22vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 24px;
    border: none;
    outline: none;
    justify-content: center;
  }