* {
    box-sizing: border-box;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.reviewContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    line-height: 0;
}

.reviewSectionCoverImage img {
    height: 20rem;
}

.reviewSectionBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviewSectionHeader {
    display: flex;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerItem, .reviewText {
    flex: 1;
    flex-basis: 0;
    border: solid black 1px;
    border-right: 0;
    padding: 0 10px;
    height: 100%;
}

.headerItem:last-child {
    border-right: solid black 1px;
}

.reviewText {
    position: relative;
    border-top: 0;
    border-right: solid black 1px;
    padding: 2rem 0 0 2rem;
}

.editReview {
    position: absolute;
    padding: 2rem 1rem;
    background: #8E27F5;
    color: white;
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    bottom: 0%;
    right: 0%;
    border: none;
    transition: background 0.3s, color 0.3s , border 0.3s;
}

.editReview:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.reviewTextArea {
    width: 100%;
    height: 15rem;
    font-family: 'Inter';
    font-size: 1.5rem;
    padding: 1rem;
    display: none;
}