.reviewContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.reviewSectionCoverImage img {
    height: 300px;
}

.reviewSectionBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviewSectionHeader {
    display: flex;
    align-items: center;
}

.headerItem {
    display: flex;
    align-items: center;
}

.headerItem, .reviewText {
    flex: 1;
    flex-basis: 0;
    border: solid black 2px;
    padding: 0 10px;
    height: 100%;
}