.send-friend-request-button {
    background-color: #8e27f5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
  }
  