.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    padding: 0 40px;
}

.body span {
    font-size: 25px;
    font-weight: bold;
}

.carouselSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.carouselText {
    padding: 7rem 0;
    width: 50rem;
    
}

.carouselText h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.addReview {
    padding: 1rem 1rem;
    background: #8E27F5;
    color: white;
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    bottom: 0%;
    right: 0%;
    border: none;
    transition: background 0.3s, color 0.3s , border 0.3s;
}

.addReview:hover {
    background: white;
    color: black;
    border: 1px solid black;
}